@page
@model WordGeneratorService.Pages.WordModel

<!DOCTYPE html>
<html>
<head>
    <title>Random Word Page</title>
</head>
<body>
    <h1>Random Word:</h1>
    <p>@Model.RandomWord</p>
</body>
</html>
